h1{
    font-family: 'EB Garamond', serif;
}
.flex_container {
    display: flex;
    align-items: center;
    
}
.introduction {
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;
    background: rgba(0, 0, 0, 0.69);
    color: white;
    padding: 2rem;
    width: 60%;
    font-size: 1.2rem;

}

.form {
    margin:20px;
}
.radio-label {
    background: gray;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin: 0 auto 10px;
    padding: 20px 20px 20px 65px;
    position: relative;
    transition: .3s ease all;
    width: 100%;
}

video {
    position: fixed;
    top: 0%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%)
}
#question_1{
    text-align: center;  
    font-family: 'EB Garamond', serif;  
}

.btn {
    margin-bottom: 10px;
}
p {
    font-family:'EB Garamond', serif;
}
h2{
    font-family:'EB Garamond', serif;
}
#questions{
    /* display: none; */
}
#timer{
    display:none;
}

.selections{
    margin-right: 15px;
    background-color: teal;
}
.btn-success{
    background-color:forestgreen;
}